<div class="error-body">
  <h1 class="error-page-header">Page Not Found</h1>
  <hr />
  <div class="error-main-body">
    <img class="error-picture" src="/images/ligerhead error.png" />
    <h2>Oh no!</h2>
    <div>Your required page doesn't exist or error has occured.</div>
    <div>Back to homepage</div>
    <div>Contact us</div>
  </div>
</div>
