<div class="error-body">
  <h1 class="error-page-header">Page Not Found</h1>
  <hr />
  <div class="error-main-body">
    <img class="error-picture" src="/images/ligerhead-error-transparent.png" alt="LigerBots - FRC Team [ERROR]" title="LigerBots - FRC Team [ERROR]"/>
    <h2 class="error-text-header">Oh no!</h2>
    <div>Your requested page doesn't exist or an error has occurred.</div>
    <div><a href="/">Back to homepage</a></div>
    <div><a href="/#contact">Contact us</a></div>
  </div>
</div>
