<div id="Footer" class="footer">
  <div class="footer-content">
    <img class="footer-logo" src="/images/footer/liger-logo.png" alt="Logo" />
    <div class="footer-lists">
      <ul class="footer-left-list">
        <li class="footer-title">Contact Us</li>
        <li class="footer-text">info@ligerbots.org</li>
        <li>&nbsp;</li>
        <li class="footer-text">Newton North High School</li>
        <li class="footer-text">457 Walnut St</li>
        <li class="footer-text">Newton, MA 02460</li>
        <li>&nbsp;</li>
        <li class="footer-text">Newton South High School</li>
        <li class="footer-text">140 Brandeis Rd</li>
        <li class="footer-text">Newton, MA 02459</li>
      </ul>

      <ul class="footer-right-list">
        <li class="footer-title">Learn More</li>
        <li class="footer-text">About</li>
        <li class="footer-text">Support</li>
        <li class="footer-text">Outreach</li>
        <li class="footer-text">Join</li>
        <li class="footer-text">Media</li>
        <li class="footer-text">Resourses</li>
        <li class="footer-text">Login</li>
      </ul>
    </div>
  </div>
</div>
