<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Footer</title>
</head>
<body>
   <div id="Footer">
      <ol class="footer-contact">
         <li><b>contact us</b></li>
         <li>info@ligerbots.org</li>
      </ol>
   
      <ol class="footer-north">
         <li>Newton North High School</li>
         <li>457 Walnut St</li>
         <li>Newton, MA 02460</li>
      </ol>
   
      <ol class="footer-south">
         <li>Newton South High School</li>
         <li>140 brandeis Rd</li>
         <li>Newton, MA 02459</li>
      </ol>
   
      <ol class="footer-learn-more">
         <li><b>Learn More</b></li>
         <li>About</li>
         <li>Support</li>
         <li>Outreach</li>
         <li>Join</li>
         <li>Media</li>
         <li>Resourses</li>
         <li>Login</li>
      </ol>
   
      <img src="public/images/footer_liger_head.jpeg" alt="Liger Head">
   
      <div class="row">
         <div class="column">
            <img src="public/images/white-first-logo.jpeg" alt="First Logo" style="width:100%">
          </div>
          <div class="column">
            <img src=".jpg" alt="Facebook logo" style="width:100%">
          </div>
          <div class="column">
            <img src=".jpg" alt="Instagram logo" style="width:100%">
          </div>
          <div class="column">
            <img src=".jpg" alt="Twitter Logo" style="width:100%">
          </div>
          <div class="column">
            <img src="public/images/white-youtube-logo.jpeg" alt="YouTube logo" style="width:100%">
          </div>
          <div class="column">
            <img src="public/images/inverse-flickr-word-logo.jpeg" alt="Flikr logo" style="width:100%">
          </div>
       </div>
   </div>
</body>
</html>