<div id="Footer">
   <ol class="footer-contact">
      <li><b>contact us</b></li>
      <li>info@ligerbots.org</li>
   </ol>

   <ol class="footer-north">
      <li>Newton North High School</li>
      <li>457 Walnut St</li>
      <li>Newton, MA 02460</li>
   </ol>

   <ol class="footer-south">
      <li>Newton South High School</li>
      <li>140 brandeis Rd</li>
      <li>Newton, MA 02459</li>
   </ol>

   <ol class="footer-learn-more">
      <li><b>Learn More</b></li>
      <li>About</li>
      <li>Support</li>
      <li>Outreach</li>
      <li>Join</li>
      <li>Media</li>
      <li>Resourses</li>
      <li>Login</li>
   </ol>

   <img src="public/images/footer_liger_head.jpeg" alt="Liger Head">
</div>
   


