<div id="Footer" class="footer">
    <div class="footer-logo">
      <img src="/images/liger logo.png" alt="Logo" />
    </div>
    <div class="footer-content">
      <ul class="footer-list">
        <li class="footer-title">Contact Us</li>
        <li>info@ligerbots.org</li>
        <li>Newton North High School</li>
        <li>457 Walnut St</li>
        <li>Newton, MA 02460</li>
        <li>Newton South High School</li>
        <li>140 Brandeis Rd</li>
        <li>Newton, MA 02459</li>
      </ul>
      
      <ul class="footer-list">
        <li class="footer-title">Learn More</li>
        <li>About</li>
        <li>Support</li>
        <li>Outreach</li>
        <li>Join</li>
        <li>Media</li>
        <li>Resourses</li>
        <li>Login</li>
      </ul>
    </div>
    <!-- <div class="footer-logo-row">
      <img src="/logo1.png" alt="Logo 1" />
      <img src="/logo2.png" alt="Logo 2" />
      <img src="/logo3.png" alt="Logo 3" />
    </div> -->
  </div>
</div>
