<div id="Footer" class="footer">
   <div class="continer">
      <div class="row padding-left-12">
         <img class="liger-logo " src="/images/liger logo.png" alt="Liger Head">

         <ol class="footer-contact">
            <li><b>contact us</b></li>
            <li>info@ligerbots.org</li>

      <li>Newton North High School</li>
      <li>457 Walnut St</li> 
      <li>Newton, MA 02460</li>

      <li>Newton South High School</li>
      <li>140 brandeis Rd</li>
      <li>Newton, MA 02459</li>
   </ol>

   <ol class="footer-learn-more">
      <li><b>Learn More</b></li>
      <li>About</li>
      <li>Support</li>
      <li>Outreach</li>
      <li>Join</li>
      <li>Media</li>
      <li>Resourses</li>
      <li>Login</li>
   </ol>

   
   </div>
   </div>
   <!-- <div class="row">
      <div class="column">
         <img src="/images/white-first-logo.jpeg" alt="First Logo" style="width:100%">
         </div>
         <div class="column">
         <img src=".jpg" alt="Facebook logo" style="width:100%">
         </div>
         <div class="column">
         <img src=".jpg" alt="Instagram logo" style="width:100%">
         </div>
         <div class="column">
         <img src=".jpg" alt="Twitter Logo" style="width:100%">
         </div>
         <div class="column">
         <img src="/images/white-youtube-logo.jpeg" alt="YouTube logo" style="width:100%">
         </div>
         <div class="column">
         <img src="/images/inverse-flickr-word-logo.jpeg" alt="Flikr logo" style="width:100%">
         </div>
      </div> -->
</div>
