<div id="Footer" class="footer">
  <div class="footer-content">
    <div class="centered-content">
      <img class="liger-logo" src="/images/liger logo.png" alt="Liger Head">
    </div>
    <div class="footer-lists">
      <ul class="footer-list">
        <li class="footer-title">Contact Us</li>
        <li>info@ligerbots.org</li>
        <li>Newton North High School</li>
        <li>457 Walnut St</li>
        <li>Newton, MA 02460</li>
        <li>Newton South High School</li>
        <li>140 Brandeis Rd</li>
        <li>Newton, MA 02459</li>
      </ul>
      <ul class="footer-list">
        <li class="footer-title">Learn More</li>
        <li>About</li>
        <li>Support</li>
        <li>Outreach</li>
        <li>Join</li>
        <li>Media</li>
        <li>Resourses</li>
        <li>Login</li>
      </ul>
    </div>
  </div>
</div>
