<div id="Footer" class="footer">
  <div class="footer-content">
    <img class="footer-logo" src="/images/footer/liger-logo.png" alt="Logo" />
    <div class="footer-lists">
      <ul class="footer-left-list">
        <li class="footer-title">Contact Us</li>
        <li class="footer-text"><a href="mailto:info@ligerbots.org">info@ligerbots.org</a></li>
        <li class="footer-text"><a href="https://www.google.com/maps/dir/My+Location/Newton+North+High+School,+457+Walnut+St,+Newtonville,+MA+02460/@42.3376269,-71.2108884">Newton North High School<br>
        457 Walnut St<br>
        Newton, MA 02460</a></li>
        <li class="footer-text"><a href="https://www.google.com/maps/dir/My+Location/Newton+South+High+School,+Brandeis+Road,+Newton,+MA/@42.318427,-71.2095718">Newton South High School<br>
        140 Brandeis Rd<br>
        Newton, MA 02459</a></li>
      </ul>

      <ul class="footer-right-list">
        <li class="footer-title">Learn More</li>
        <li class="footer-text"><a href="#">About</a></li>
        <li class="footer-text"><a href="#">Support</a></li>
        <li class="footer-text"><a href="#">Outreach</a></li>
        <li class="footer-text"><a href="#">Join</a></li>
        <li class="footer-text"><a href="#">Media</a></li>
        <li class="footer-text"><a href="#">Resourses</a></li>
        <li class="footer-text"><a href="#">Login</a></li>
      </ul>
    </div>
  </div>
</div>
