<div id="Footer" class="footer">
   <div class="centered-content">      
   <img class="liger-logo " src="/images/liger logo.png" alt="Liger Head">
   </div>      
   <div class="footer-lists">
      <ul class="footer-list">
        <li>Footer Item 1</li>
        <li>Footer Item 2</li>
        <li>Footer Item 3</li>
      </ul>
      <ul class="footer-list">
        <li>Footer Item A</li>
        <li>Footer Item B</li>
        <li>Footer Item C</li>
      </ul>
</div>


