<div class="header">
  <div class="logo-silver">
    &nbsp;<br/>
  </div>

  <div class="logo-row">
    <img class="logo large" src="/images/LigerBots logo 4.png" alt="Large Logo">
    <img class="logo small" src="/images/FIRSTRobotics_IconVert_RGB.png" alt="Logo 1">
    <img class="logo small" src="/images/Facebook Logo on white background.png" alt="Logo 2">
    <img class="logo small" src="/images/instagram logo (unofficial).png" alt="Logo 3">
    <img class="logo small" src="/images/twitterlogo.png" alt="Logo 4">
    <img class="logo small" src="/images/youtubelogo.png" alt="Logo 5">
    <img class="logo small" src="/images/flikrlogo.png" alt="Logo 6">
  </div>
  
  <div class="topnav" id="myTopnav">
    <a href="#home">Home</a>
    <div class="dropdown">
      <button class="dropbtn">About
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Support 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Outreach 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <a href="#">Join</a>

    <a href="#contact">Media</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Resourses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Login 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>




</div>









  <!-- <img class="col-6 text-center" src="/images/LigerBots logo 4.png">
      
    <img class="col-1" src="/images/FIRSTRobotics_IconVert_RGB.png" alt="">
    <img class="col-1" src="/images/Facebook Logo on white background.png" alt="">
    <img class="col-1" src="/images/instagram logo (unofficial).png" alt="">
    <img class="col-1" src="public/images/twitter-logo-vector-png-clipart-1.png" alt="">
    <img class="col-1" src="/images/youtubeLogo.png" alt="">
    <img class="col-1" src="/images/flikrLogo.png"> -->

















  <!-- 


<div class="header">
  <div class="logo-sliver">
    <img src="public/images/Tie dye sliver.jpeg" alt="sliver">
  </div>
  
  <div class="logo-row-container">
    <div class="logo-row">
      <div class="logo-column">
      <img src="/images/LigerBots logo 4.png" alt="Ligerbot head text" style="width:65%; height: 100px;">
      </div>
      <div class="logo-column">
        <img src="/images/Facebook Logo on white background.png" alt="facebook" style="width:5.8%; height: 100px;">
      </div>
      <div class="logo-column">
        <a href=""><img src="/images/FIRSTRobotics_IconVert_RGB.png" alt="first" style="width:5.83%; height: 100px;"></a>
      <div class="logo-column">
        <a href=""><img src="" alt="" style="width:5.83%; height: 100px;"></a>
      </div>
      <div class="logo-column">
        <a href=""><img  src="/images/instagram logo (unofficial).png " style="width:20%; height: 100px;"> </a>
      </div>
    </div>
  </div>
  
  <div class="topnav-container">  
    <div class="topnav">
        <a href="/home">Home</a>
        <div class="dropdown">
            <button class="dropbtn">About 
              <i class="fa fa-caret-right"></i>
            </button>
            <div class="dropdown-content">
              <a href="/join">Link 1</a>
              <a href="/join">Link 2</a>
              <a href="/join">Link 3</a>
            </div>
          </div> 
        <a href="">Support</a>
        <a href="">Outreach</a>
        <a href="/join">Join</a>
        <a href="">Media</a>
        <a href="">Resourses</a>
        <a href="">Login</a>
    </div>
  </div>
</div> -->