<div class="header">
  <div class="logo-silver">
    &nbsp;<br/>
  </div>

  <div class="logo-row">
    <img class="logo large" src="/images/header/LigerBots logo 2000x200.png" alt="Large Logo">
    <img class="logo small" src="/images/header/FIRSTRobotics_IconVert_RGB 148x100.png" alt="Logo 1">
    <img class="logo small" src="/images/header/Facebook-Logo 100x100.png" alt="Logo 2">
    <img class="logo small" src="/images/header/instagram logo 100x100.png" alt="Logo 3">
    <img class="logo small" src="/images/header/twitterlogo 100x100.png" alt="Logo 4">
    <img class="logo small" src="/images/header/youtubelogo 143x100.png" alt="Logo 5">
    <img class="logo small" src="/images/header/flikrlogo (1).png" alt="Logo 6">
  </div>
  
  <div class="topnav" id="myTopnav">
    <a href="#home">Home</a>
    <div class="dropdown">
      <button class="dropbtn">About
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Support 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Outreach 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <a href="#">Join</a>

    <a href="#contact">Media</a>
    <div class="dropdown">
      <button class="dropbtn">Dropdown 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Resourses 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <div class="dropdown">
      <button class="dropbtn">Login 
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Link 1</a>
        <a href="#">Link 2</a>
        <a href="#">Link 3</a>
      </div>
    </div> 
    <a href="javascript:void(0);" style="font-size:15px;" class="icon" onclick="myFunction()">&#9776;</a>
  </div>




</div>

