


<div class="header">
    <div class="logo-row">
      <div class="logo-column">
      <img src="/images/LigerBots logo 4.png" alt="Ligerbot head text" style="width:65%; height: 100px;">
      </div>
      <div class="logo-column">
        <img src="/images/Facebook Logo on white background.png" alt="facebook" style="width:5.8%; height: 100px;">
      </div>
      <div class="logo-column">
        <a href=""><img src="/images/FIRSTRobotics_IconVert_RGB.png" alt="first" style="width:5.83%; height: 100px;"></a>
      <div class="logo-column">
        <a href=""><img src="" alt="Mountains" style="width:20%; height: 100px;"></a>
      </div>
      <div class="logo-column">
        <a href=""><img  src="/images/instagram logo (unofficial).png " style="width:20%; height: 100px;"> </a>
      </div>
    </div>
    <div class="topnav">
        <a href="/home">Home</a>
        <div class="dropdown">
            <button class="dropbtn">About 
              <i class="fa fa-caret-right"></i>
            </button>
            <div class="dropdown-content">
              <a href="/join">Link 1</a>
              <a href="/join">Link 2</a>
              <a href="/join">Link 3</a>
            </div>
          </div> 
        <a href="">Support</a>
        <a href="">Outreach</a>
        <a href="/join">Join</a>
        <a href="">Media</a>
        <a href="">Resourses</a>
        <a href="">Login</a>
      </div>
</div>
