<div class="header container-fluid">
  <div class="row">
    <div class="logo-silver col-md-12 img-fluid " style="width:100%">
      &nbsp;<br/>
    </div>
  </div>
  <!-- THIS IS A COMMENT -->
  <div class="container my-2">
    <div class="row">
      <div class="col-md-7">
        <img src="/images/LigerBots logo 4.png" alt="Logo 1" class="header-liger-logo img-fluid">
      </div>
      <div class="col-md-5 d-flex justify-content-center">
        <div class="row">
          <div class="col d-flex align-items-center justify-content-center">
            <img src="/images/FIRSTRobotics_IconVert_RGB.png" alt="Logo 2" class="logo" style="width:100%">
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <img src="/images/Facebook-Logo.jpg" alt="Logo 3" class="logo" style="width: 100%;">
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <img src="/images/instagram logo (unofficial).png" alt="Logo 4" class="logo" style="width: 100%;">
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <img src="/images/twitterlogo.png" alt="Logo 5" class="logo" style="width: 100%;">
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <img src="/images/youtubeLogo.png" alt="Logo 6" class="logo" style="width: 100%;">
          </div>
          <div class="col d-flex align-items-center justify-content-center">
            <img src="/images/flikrLogo.png" alt="Logo 7" class="logo" style="width:100%;">
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              About
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Item 1</a>
              <a class="dropdown-item" href="#">Item 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Item 3</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Support
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Item 1</a>
              <a class="dropdown-item" href="#">Item 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Item 3</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Outreach
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Item 1</a>
              <a class="dropdown-item" href="#">Item 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Item 3</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Join</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Media
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Item 1</a>
              <a class="dropdown-item" href="#">Item 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Item 3</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Resourses
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Item 1</a>
              <a class="dropdown-item" href="#">Item 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Item 3</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Login
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Item 1</a>
              <a class="dropdown-item" href="#">Item 2</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Item 3</a>
            </div>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
  
  


  <!-- <img class="col-6 text-center" src="/images/LigerBots logo 4.png">
      
    <img class="col-1" src="/images/FIRSTRobotics_IconVert_RGB.png" alt="">
    <img class="col-1" src="/images/Facebook Logo on white background.png" alt="">
    <img class="col-1" src="/images/instagram logo (unofficial).png" alt="">
    <img class="col-1" src="public/images/twitter-logo-vector-png-clipart-1.png" alt="">
    <img class="col-1" src="/images/youtubeLogo.png" alt="">
    <img class="col-1" src="/images/flikrLogo.png"> -->

















  <!-- 


<div class="header">
  <div class="logo-sliver">
    <img src="public/images/Tie dye sliver.jpeg" alt="sliver">
  </div>
  
  <div class="logo-row-container">
    <div class="logo-row">
      <div class="logo-column">
      <img src="/images/LigerBots logo 4.png" alt="Ligerbot head text" style="width:65%; height: 100px;">
      </div>
      <div class="logo-column">
        <img src="/images/Facebook Logo on white background.png" alt="facebook" style="width:5.8%; height: 100px;">
      </div>
      <div class="logo-column">
        <a href=""><img src="/images/FIRSTRobotics_IconVert_RGB.png" alt="first" style="width:5.83%; height: 100px;"></a>
      <div class="logo-column">
        <a href=""><img src="" alt="" style="width:5.83%; height: 100px;"></a>
      </div>
      <div class="logo-column">
        <a href=""><img  src="/images/instagram logo (unofficial).png " style="width:20%; height: 100px;"> </a>
      </div>
    </div>
  </div>
  
  <div class="topnav-container">  
    <div class="topnav">
        <a href="/home">Home</a>
        <div class="dropdown">
            <button class="dropbtn">About 
              <i class="fa fa-caret-right"></i>
            </button>
            <div class="dropdown-content">
              <a href="/join">Link 1</a>
              <a href="/join">Link 2</a>
              <a href="/join">Link 3</a>
            </div>
          </div> 
        <a href="">Support</a>
        <a href="">Outreach</a>
        <a href="/join">Join</a>
        <a href="">Media</a>
        <a href="">Resourses</a>
        <a href="">Login</a>
    </div>
  </div>
</div> -->