<div class="header">
    <img src="/images/ligerbots-logo-4.png" alt="Ligerbot head text" style="width:100%">
    
    <div class="topnav">
        <a class="active" href="/home">Home</a>
        <div class="dropdown">
            <button class="dropbtn">About 
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="#">Link 1</a>
              <a href="#">Link 2</a>
              <a href="#">Link 3</a>
            </div>
          </div> 
        <a href="">Support</a>
        <a href="">Outreach</a>
        <a href="/join">Join</a>
        <a href="">Media</a>
        <a href="">Resourses</a>
        <a href="">Login</a>
      </div>
</div>
