<div class="header">
  <div class="logo-sliver">
    <img src="/images/Tie dye sliver.jpeg">
  </div>
  
  <div class="container">
    <div class="row">
        <div class="col-md-6 logo-container">
            <img src="/images/LigerBots logo 4.png" alt="Logo 1" class="header-liger-logo">
        </div>
        <div class="col-md-1 logo-container">
            <img src="/images/FIRSTRobotics_IconVert_RGB.png" alt="Logo 2" class="logo">
        </div>
        <div class="col-md-1 logo-container">
            <img src="/images/Facebook Logo on white background.png" alt="Logo 3" class="logo">
        </div>
        <div class="col-md-1 logo-container">
            <img src="/images/instagram logo (unofficial).png" alt="Logo 4" class="logo">
        </div>
        <div class="col-md-1 logo-container">
            <img src="/images/twitterlogo.png" alt="Logo 5" class="logo">
        </div>
        <div class="col-md-1 logo-container">
            <img src="/images/youtubeLogo.png" alt="Logo 6" class="logo">
        </div>
        <div class="col-md-1 logo-container">
          <img src="/images/flikrLogo.png" alt="Logo 7" class="logo">
      </div>
    </div>
      
      
      
      
      
    </div> 
   
    <!-- <img class="col-6 text-center" src="/images/LigerBots logo 4.png">
      
    <img class="col-1" src="/images/FIRSTRobotics_IconVert_RGB.png" alt="">
    <img class="col-1" src="/images/Facebook Logo on white background.png" alt="">
    <img class="col-1" src="/images/instagram logo (unofficial).png" alt="">
    <img class="col-1" src="public/images/twitter-logo-vector-png-clipart-1.png" alt="">
    <img class="col-1" src="/images/youtubeLogo.png" alt="">
    <img class="col-1" src="/images/flikrLogo.png"> -->



    </div>
  </div>
</div>
















<!-- 


<div class="header">
  <div class="logo-sliver">
    <img src="public/images/Tie dye sliver.jpeg" alt="sliver">
  </div>
  
  <div class="logo-row-container">
    <div class="logo-row">
      <div class="logo-column">
      <img src="/images/LigerBots logo 4.png" alt="Ligerbot head text" style="width:65%; height: 100px;">
      </div>
      <div class="logo-column">
        <img src="/images/Facebook Logo on white background.png" alt="facebook" style="width:5.8%; height: 100px;">
      </div>
      <div class="logo-column">
        <a href=""><img src="/images/FIRSTRobotics_IconVert_RGB.png" alt="first" style="width:5.83%; height: 100px;"></a>
      <div class="logo-column">
        <a href=""><img src="" alt="" style="width:5.83%; height: 100px;"></a>
      </div>
      <div class="logo-column">
        <a href=""><img  src="/images/instagram logo (unofficial).png " style="width:20%; height: 100px;"> </a>
      </div>
    </div>
  </div>
  
  <div class="topnav-container">  
    <div class="topnav">
        <a href="/home">Home</a>
        <div class="dropdown">
            <button class="dropbtn">About 
              <i class="fa fa-caret-right"></i>
            </button>
            <div class="dropdown-content">
              <a href="/join">Link 1</a>
              <a href="/join">Link 2</a>
              <a href="/join">Link 3</a>
            </div>
          </div> 
        <a href="">Support</a>
        <a href="">Outreach</a>
        <a href="/join">Join</a>
        <a href="">Media</a>
        <a href="">Resourses</a>
        <a href="">Login</a>
    </div>
  </div>
</div> -->
