<div class="profile-card-container">
  <div class="profile-card-img">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPuhjRPm35aed7Vr2fMNITEl4fUDyofh_qyg&usqp=CAU"
    />
  </div>

  <div class="profile-card-text">
    <div class="profile-card-bold-text">Vikram</div>
    <div class="profile-card-bold-text">KRISHNAMACHARI</div>
    <div class="profile-card-email">seen42324234@gmail.com</div>
    <div>617-580-7387</div>
    <div>119 Dedham Hills St., Newton, MA 02461</div>
    <div>Newton South</div>
    <div>Parent, Mentor</div>
  </div>
</div>
