<div class="sidebar-left">
  <div class="sidebar-left-container">
    <ul>
      <li><a href="#">Quick links</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="#">Annual Student Forms</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="#">Calendar</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="#">First</a></li>
      <ul class="indented-list">
        <li><a href="#">Competition Resources</a></li>
        <li><a href="#">Carpools</a></li>
        <li><a href="#">Blue Alliance</a></li>
      </ul>
    </ul>
    <hr />
    <ul>
      <li><a href="#">Team Directory</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="#">Team Publications</a></li>
      <ul>
        <li><a href="#">STEAM activity flyers</a></li>

        <li><a href="#">whitepapers</a></li>
      </ul>
    </ul>
    <hr />
    <ul>
      <li><a href="#">FLL</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="#">Be a Parent Volunteer</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="#">Invite Us to Your Event!</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="#">Contact</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="#">Sponsor Us</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="#">Donate</a></li>
    </ul>
    <hr />
    <ul>
      <li><a href="#">Blog</a></li>
      <ul class="indented-list">
        <li><a href="#">2020-2021</a></li>
        <li><a href="#">2021-2022</a></li>
        <li><a href="#">2022-2023</a></li>
        <li><a href="#">2023-2024</a></li>
      </ul>
    </ul>
  </div>
</div>
