<div class="sidebar-right">
  <div class="sidebar-right-container">
    <div class="sidebar-right-header">Meeting Times</div>
    <ul class="sidebar-right-season-times">
      <li>Pre/Post season</li>
      <li>Monday, 6:30-9:30 p.m</li>
      <li>Newton North High School</li>
      <li>&nbsp;</li>
      <li>Thursday ,6:30-9:30 p.m</li>
      <li>Newton South High School</li>
    </ul>
    <ul class="sidebar-right-season-times">
      <li>Monday-Thursday 6:30-9:30pm</li>
      <li>Friday 4:00-9:30</li>
      <li>Saturday</li>
    </ul>
    <div class="sidebar-meeting-location">
      <img
        src="/images/northMeeting.jpeg"
        alt="Eiffel tower"
        class="sidebar-meeting-location-image"
      />
      <p class="sidebar-meeting-text">
        Newton North Meeting Location Room 3145
      </p>
    </div>

    <div class="sidebar-meeting-location">
      <img
        src="/images/southMeeting.jpeg"
        alt="south meeting img"
        class="sidebar-meeting-location-image"
      />
      <p class="sidebar-meeting-text">
        Newton South Meeting Location Room 9170
      </p>
    </div>
  </div>
</div>
