<div class="sidebar-left">
  <div class="sidebar-left-container">
    <ul>
      Quick links
    </ul>
    <hr />
    <ul>
      Annual Sudent Forms
    </ul>
    <hr />
    <ul>
      Calendar
    </ul>
    <hr />
    <ul>
      First
    </ul>
    <hr />
    <ul>
      Compitition Resouces
      <ul>
        Carpools
      </ul>
      <ul>
        Blue Alliance
      </ul>
    </ul>
    <hr />
    <ul>
      Team Directory
    </ul>
    <hr />
    <ul>
      Team Publications
    </ul>
    <hr />
    <ul>
      FLL
    </ul>
    <hr />
    <ul>
      Be a Parent volenteer
    </ul>
    <hr />
    <ul>
      invite us to your event!
    </ul>
    <hr />
    <ul>
      Contact
    </ul>
    <hr />
    <ul>
      Sponsor Us
    </ul>
    <hr />
    <ul>
      Donate
    </ul>
    <hr />
    <ul>
      Blog
      <ul>
        2020-2021
      </ul>
      <ul>
        2021-2022
      </ul>
      <ul>
        2022-2023
      </ul>
      <ul>
        2023-2024
      </ul>
    </ul>
  </div>
</div>
