<div class="sidebar-right">
  <div class="sidebar-right-container">
    <div class="sidebar-right-header">Meeting Times</div>
    <ul class="sidebar-right-season-times">
      <li>Pre/Post season</li>
      <li>Monday, 6:30-9:30 p.m</li>
      <li>Newton North High School</li>
      <li>&nbsp;</li>
      <li>Thursday ,6:30-9:30 p.m</li>
      <li>Newton South High School</li>
    </ul>
    <ul class="sidebar-right-season-times">
      <li>Monday-Thursday 6:30-9:30pm</li>
      <li>Friday 4:00-9:30</li>
      <li>Saturday</li>
    </ul>
  </div>
</div>
