<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo album</title>
    <!--this is the same layout as robots-->
    <!--Naming is hard :(-->
</head>
<body>
    
</body>
</html>