//- VIEW FOR INDEX PAGE
extends layout

block content
  div(id='header-ghost')
  div(id='container', class='container-fluid no-side-padding')
    div(class='col-xs-12 no-side-padding')
      div(class='row header')
        include containers/blog_container
        include containers/upcoming_events_container
    include containers/team_photo_container

