meta(viewport='width=device-width, initial-scale=1')
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')

link(rel="icon" href="/images/liger.ico")

link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=PT+Serif:700')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700')

link(rel='stylesheet', href='/stylesheets/ligerbots.css')