<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sub Ablbums</title>
    <!--exact same layout as robots as well-->
    <!-- if you couldnt tell this is for after you click on a certan year which will display subAlbums-->
    <!--if you have a better name please tell me-->
</head>
<body>
    
</body>
</html>