:root {
  --liger-blue: rgb(8,86,149);
}


/* * { REMOVE THIS FOR PRODUCTION
    border: 1px solid red;
  } */
* {
    margin: 0;
    padding: 0;
}




.logo-silver {
    background-image: url(/images/header/tie-dye-silver.jpg);
    background-size: cover; /* Scale the image to cover the container */
    background-position: center; /* Center the image within the container */
    width: 100vw;
    margin: 0; /* Remove default margins */
    padding: 0; /* Remove default padding */
}


.logo-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-grow: 1;
}

.logo {
  margin: 5px; /* Adjust spacing between logos */
}

.logo.large {
  flex: 2; /* Large logo takes up 60% of the width */
  max-width: calc(70% - 10px); /* 60% of the width minus spacing */
  padding-left: 12px;
  width: auto;
  height: auto;
}

.logo.small {
  max-width: calc((30% / 6) - 5px ); /* Six smaller logos evenly spaced (100% / 6) with spacing */
  width: auto; 
  height: auto; 
  padding: 5px;
  margin: 2px;
}


/* Apply changes at a specific breakpoint */
@media screen and (max-width: 874px) {
  .logo.large {
    max-width: calc(100% - 10px); /* Large logo takes full width on smaller screens */
  }
 
  .logo.small {
      display: none;
  }
  
  .logo-row {
    flex-direction: column;
  }
}




.topnav {
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  
}


.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: black;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: contents;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: var(--liger-blue);
  color: white;
}

.dropdown-content a:hover {
  background-color: var(--liger-blue);
  color: rgb(255, 255, 255);
}

.dropdown:hover .dropdown-content {
  display: block;
}


@media screen and (max-width: 874px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 874px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}




