div(class="col-md-6 col-sm-12")
  div(class="panel panel-blue")
    div(class="panel-heading index-heading")
      a(class='white_link' href="/blog_list.php")
        p LIGERBOTS BLOG
    div(id="blog-panel" class="panel-body")
      div(class="blog-image-box")
        img(src="https://live.staticflickr.com/65535/52898737330_b775502d92_z.jpg")
      div(class="text-margins")
        p The LigerBots have attended or hosted over 40 outreach events in the past year, and we aren’t planning on stopping any time soon!&nbsp; On Sunday, May 6, we did outreach with our robot and STEAM…
        div(class="read-more")
          a(href="https://ligerbots.org/2023/05/28/outreach-bonanza/")
            img(src="/images/read_more_flat.svg")