<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/_meta') %>
  <title>Photos</title>
</head>
<body>
PHOTOS

    <!--this is the final subsection of the photo album-->
    <!--it displays a group of photos from a particular set-->
    <!--this still has the same layout as robots-->
</body>
</html>