<div class="join-container">
  <div class="join-head-text">Join</div>
  <hr />
  <div class="join-body-container">
    <img class="join-img" src="/images/join/student-join-us.jpeg" />
    <div class="join-body-text-container">
      <div class="join-bold-text"><a>Students</a></div>
      <div class="join-italics-text"><a>Join Us!</a></div>
      <div class="truncated-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
          nunc vel tincidunt lacinia, nunc velit consectetur nisl, vitae
          porttitor nisl nunc euismod nisi Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eveniet, iste velit. Labore cum sint
          natus magnam, ea saepe praesentium dolores nobis facilis vel, iste ab
          blanditiis deleniti odio aliquid corrupti? Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Unde commodi nemo quae esse quidem
          atque sunt nostrum reiciendis nihil quos voluptas voluptate, officia
          pariatur nulla repudiandae necessitatibus excepturi, quis beatae.
        </p>
      </div>
      <div><a href="#" class="join-read-more">Read More</a></div>
    </div>
  </div>
  <hr />
  <div class="join-body-container">
    <img class="join-img" src="/images/join/mentor-us.jpeg" />
    <div class="join-body-text-container">
      <div class="join-bold-text"><a>Mentors</a></div>
      <div class="join-italics-text"><a>Mentor Us!</a></div>
      <div class="truncated-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
          nunc vel tincidunt lacinia, nunc velit consectetur nisl, vitae
          porttitor nisl nunc euismod nisi Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eveniet, iste velit. Labore cum sint
          natus magnam, ea saepe praesentium dolores nobis facilis vel, iste ab
          blanditiis deleniti odio aliquid corrupti? Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Unde commodi nemo quae esse quidem
          atque sunt nostrum reiciendis nihil quos voluptas voluptate, officia
          pariatur nulla repudiandae necessitatibus excepturi, quis beatae.
        </p>
      </div>
      <div><a href="#" class="join-read-more">Read More</a></div>
    </div>
  </div>
  <hr />
  <div class="join-body-container">
    <img class="join-img" src="/images/join/parent-us.jpeg" />
    <div class="join-body-text-container">
      <div class="join-bold-text"><a>Parents</a></div>
      <div class="join-italics-text"><a>Volunteer</a></div>
      <div class="truncated-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
          nunc vel tincidunt lacinia, nunc velit consectetur nisl, vitae
          porttitor nisl nunc euismod nisi Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eveniet, iste velit. Labore cum sint
          natus magnam, ea saepe praesentium dolores nobis facilis vel, iste ab
          blanditiis deleniti odio aliquid corrupti? Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Unde commodi nemo quae esse quidem
          atque sunt nostrum reiciendis nihil quos voluptas voluptate, officia
          pariatur nulla repudiandae necessitatibus excepturi, quis beatae.
        </p>
      </div>
      <div><a href="#" class="join-read-more">Read More</a></div>
    </div>
  </div>
  <hr />
  <div class="join-body-container">
    <img class="join-img" src="/images/join/sponsor-us.jpeg" />
    <div class="join-body-text-container">
      <div class="join-bold-text"><a>Sponsors</a></div>
      <div class="join-italics-text"><a>Sponsor Us!</a></div>
      <div class="truncated-text">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod,
          nunc vel tincidunt lacinia, nunc velit consectetur nisl, vitae
          porttitor nisl nunc euismod nisi Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Eveniet, iste velit. Labore cum sint
          natus magnam, ea saepe praesentium dolores nobis facilis vel, iste ab
          blanditiis deleniti odio aliquid corrupti? Lorem ipsum dolor sit amet
          consectetur, adipisicing elit. Unde commodi nemo quae esse quidem
          atque sunt nostrum reiciendis nihil quos voluptas voluptate, officia
          pariatur nulla repudiandae necessitatibus excepturi, quis beatae.
        </p>
      </div>
      <div><a href="#" class="join-read-more">Read More</a></div>
    </div>
  </div>
</div>
