<div class="Photo-template-container">
  <div class="photo-template-text">####-#### GAME NAME</div>

  <hr />
  <% const numRows = Math.trunc(events.length/4) %>
  <table>
    <tr>
      <td><%= numRows %></td>
    </tr>
  </table>
</div>
